#humanitarian{
    height:500px;
    width:350px;
}
#logiquids{
    height:500px;
    width:350px;
}
#chef{
    height:500px;
    width:350px;
}
h5{
    font-size:30;
}
h6{
    font-size:30;
}
h7{
    font-size:50px;
}
#School{
    height:1000px;
    width:1000px;
}
h4{
    font-size:30;
}
#library{
    height:500px;
    width:500px;
}
#Playground{
    height:500px;
    width:500px;
}
#library_p{
    font-size:20;
}
#playg_p{
    font-size:20;
}